//  Css Reset
*{
  margin: 0;
  padding: 0;
}

// making variable 
$variable-height:350px;
$variable-width:230px;
$variables-center:center;
$display-flex:flex;

// card design
.main{
  display: $display-flex;
  padding-top: 5%;
  padding:  10px 10px 10px;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.card1{
background-color: aqua;
display: $display-flex;
width: $variable-width;
height: $variable-height;
justify-content: $variables-center;
 border-radius: 15px;
}
.card2{
  background-color: blue;
  display: $display-flex;
  width:$variable-width;
height: $variable-height;
justify-content: $variables-center;
 border-radius: 15px;
}
.card3{
  background-color: brown;
  display: $display-flex;
  width: $variable-width;
height: $variable-height;
justify-content: $variables-center;
 border-radius: 15px;
}
img{
  height:200px;
  width: 200px;
  border-radius: 20px;
  padding-top: 5px;
}