// css reset
*{
    margin: 0;
    padding: 0;
}
// container div styling
.container{
    background-color: black;
    height: 500px;
    width: 100%;
    color: white;
    display: block;
    .h-prymary{
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
    }
    .frist_p{
        background-color: rgb(224, 107, 53);
        color: rgb(219, 228, 228);
        font-size: 25px;
        height: 200px;
    }
    .second_p{
        background-color: rgb(187, 92, 92);
        height: 200px;
        font-size: 25px;
    }
    .third_p{
        background-color: rgb(165, 209, 120);
        height: 200px;
        color: black;
        font-size: 25px;
    }
}